/* @media screen and (max-width: 1024px) {
  html {
    font-size: 42.66px !important;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
} */

/* body */
body {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.viewport {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0px auto;
  min-height: 780px;
  padding: 1.25rem .25rem 0;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.viewport .column:first-child {
  flex: 3;
  /* background-color: antiquewhite; */
}
.viewport .column:nth-child(2) {
  background-color: aquamarine;
  flex: 4;
}
.viewport .column:nth-child(3) {
  flex: 3;
  background-color: brown;
}
/* 公共面板样式 */
.panel {
  border: 15px solid transparent;
  border-image-source: url(../images/border.png);
  border-image-width: .6375rem .475rem .25rem 1.65rem;
  border-image-slice: 51 38 20 132;
  margin-bottom: .125rem;
}
.h1 {
  height: 3.75rem;
}
.panel ul {
  height: 1.375rem;
  display: flex;
  justify-content: space-around;
}
.panel ul li h4{
  font-size: .35rem;
  color: #fff;
}
.panel ul li span {
  font-size: .2rem;
  color: #4c9bfd;
}