/* 声明字体图标 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o5l080');
  src:  url('../fonts/icomoon.eot?o5l080#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o5l080') format('truetype'),
    url('../fonts/icomoon.woff?o5l080') format('woff'),
    url('../fonts/icomoon.svg?o5l080#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: rgb(241, 241, 241);
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.w {
  width: 1200px;
  margin: 0 auto;
  /* background-color: aqua; */
}
li {
  float: left;
  list-style-type: none;
}
.style_red {
  color: #c81623;
}
/* 偶数位置的li */
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9px 15px 0px;
}
.arrow-icon::after {
  content: '\ea43';
  font-family: 'icomoon';
  margin-left: 6px;
}
/* 头部制作 */
.header {
  position: relative;
  height: 105px;
  /* background-color: antiquewhite; */
}
.logo {
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
  font-size: 0px;
  /* background-color: #c81623; */
}
.logo a {
  display: block;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
}
.search {
  position: absolute;
  left: 346px;
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
.search input {
  float: left;
  height: 32px;
  width: 454px;
  /* text-indent: 2em; */
  padding-left: 10px;
}
.search button {
  float: left;
  width: 80px;
  height: 32px;
  font-size: 16px;
  color:aliceblue;
  background-color: #b1191a;
}
/* 热点词 */
.hotwords {
  position: absolute;
  left: 346px;
  top:66px;
}
.hotwords a {
  margin: 10px;
}
/* 购物车 */
.shopcar {
  position: absolute;
  right: 60px;
  top: 25px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}
.shopcar::before {
  font-family: 'icomoon';
  content: '\e916';
  margin-right: 5px;
  color: #c81623;
}
.shopcar::after {
  content: '\ea42';
  font-family: 'icomoon';
  margin-left: 10px;
}
.count {
  position: absolute;
  top: -5px;
  left: 105px;
  height: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #c81623;
  border-radius: 7px 7px 7px  0;
  padding: 0 5px;
}
/* nav部分 */
.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
  float: left;
  width: 210px;
  height: 45px;
  background-color: #b1191a;
}
.nav .navitems {
  float: left;
}
.nav .dt {
  line-height: 45px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.nav .dd {
  /* display: none; */
  width: 210px;
  height: 465px;
  background-color: #c81623;
}
.nav .dd ul li {
  float: none;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
  padding-left: 10px;
}
.nav .dd ul li a {
  font-size: 14px;
  color: #fff;
}
.nav .dd ul li:hover {
  background-color: #fff;
}
.nav .dd ul li:hover a {
  color: #c81623;
}
.nav .dd ul li a::after {
  content: '\ea42';
  font-family: 'icomoon';
  display: block;
  float: right;
  margin-right: 5px;
}
.nav .navitems ul li a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding: 0 25px;
}
/* footer部分 */
.footer {
  background-color: #f5f5f5;
}
.footer .mod_service {
  height: 110px;
  border-bottom: 1px solid #ccc;
}
.footer .mod_service ul li{
  margin: 30px auto;
  width: 240px;
  height: 50px;
  /* background-color: antiquewhite; */
}
.footer .mod_service ul li h5{
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 37px;
  margin-right: 8px;
  background-image: url(../images/icons.png);
  background-position: -252px -3px;
  background-repeat: no-repeat;
}
.footer .mod_service ul li .service_text{
  line-height: 25px;
  float: left;
  text-align: left;
}
.footer .mod_service ul li .service_text h4{
  font-size: 14px;
  color: #333;
}
.footer .mod_service ul li .service_text p{
  font-size: 12px;
  color: #666;
}
.footer .mod_help {
  height: 188px;
  border-bottom: 1px solid #ccc;
}
.footer .mod_copyright {
  height: 120px;
}
/* mod_help  */
.footer .mod_help dl {
  float: left;
  width: 200px;
  height: 140px;
  /* background-color: antiquewhite; */
  margin: 22px auto;
  /* border: 1px silver solid; */
  padding-left: 50px;
}
.footer .mod_help dl dt{
  line-height: 14px;
  color: #333;
  font-size: 16px;
  padding-bottom: 7px;
}
.footer .mod_help dl dd{
  line-height: 20px;
  color: #666;
  font-size: 12px;
}
.footer .mod_help dl:last-child dt{
  padding-left: 12px;
}
.footer .mod_help dl:last-child .erweima {
  width: 90px;
  height: 90px;
  /* background-color: tomato; */
}
.footer .mod_help dl:last-child dd:last-child{
  padding-left: 10px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}