/* 声明字体图标 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o5l080');
  src:  url('../fonts/icomoon.eot?o5l080#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o5l080') format('truetype'),
    url('../fonts/icomoon.woff?o5l080') format('woff'),
    url('../fonts/icomoon.svg?o5l080#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* nav部分 */
.nav {
  width: 100%;
  height: 47px;
}
.red {
  color: #c81623;
}
.nav .nav_short {
  width: 1200px;
  height: 44px;
  margin: 0px auto;
  /* background-color: antiquewhite; */
  border-bottom-color: transparent;
}
.miaosha {
  float: left;
  width: 372px;
}
.miaosha ul li {
  width: 33%;
  line-height: 47px;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.list_type ul li {
  width: 68px;
  text-align: center;
  color: #666;
  font-size: 14px;
  line-height: 47px;
}
.list_type ul li:last-child {
  margin-left: 20px;
  width: 80px;
}
.list_type ul li:last-child:hover {
  color: #c81623;
}
.list_type ul li:last-child:after {
  float: right;
  width: 10px;
  content: '\ea42';
  font-family: 'icomoon';
}
/* body部分 */
.td_body .body_01 {
  width: 1200px;
  height: 120px;
  margin: 0px auto;
  background-image: url(../images/bg_03.png);
  background-color: antiquewhite;
}
.td_body .body_02 {
  width: 1200px;
  /* height: 1200px; */
  /* clear: both; */
  margin: 0px auto;
}
.td_body .body_02 ul li{
  width: 290px;
  height: 460px;
  /* background-color: #c81623; */
  border: 1px solid #fff;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url(../images/list.jpg);
}
/* .td_body .body_02 ul li:nth-child(1+4n){
  margin-left: 0px;
} */
.td_body .body_02 ul li:nth-child(4n){
  margin-right: 0px;
}
.td_body .body_02 ul li:hover{
  z-index: 1;
  border: 1px solid #c81623;
}